<div class="container">
  <div class="row">
    <section id="main" class="col-md-12">
      <article>
        <div class="kratos-hentry kratos-post-inner clearfix">
          <div class="kratos-post-content">
            <!-- 开始 内容 -->
            <h1>剪映导出字幕工具 网页版</h1>

            <h3>输入剪映 JSON</h3>
            <div>
              <label class="jytosrt-szhhf">设置换行符：
                <select onchange="onChange(this.value)">
                  <option value="rn">\r\n （Windows）</option>
                  <option value="n">\n （Linux）</option>
                </select>
                <span id="rn-hint" style="color: red; display: none">
                  ** 修改后需要重新生成</span>
              </label>
              <div class="form-group">
                <label>上传的文件编码：</label>
                <select id="encoding">
                  <option value="gbk">GBK</option>
                  <option value="utf-8" selected="">UTF-8</option>
                  <option value="gbk">GB2312</option>
                  <option value="big5">BIG5</option>
                  <option value="korean">EUC-KR（韩文）</option>
                  <option value="euc-jp">EUC-JP（日文）</option>
                  <option value="utf-16be">UTF-16BE</option>
                  <option value="utf-16le">UTF-16LE</option>
                </select>
              </div>
              <span class="btn btn-success fileinput-button">
                <span>上传</span>
                <input type="file" id="inputBrow" />
              </span>
            </div>
            <div>
              <textarea id="input-text" class="texttosrt">
{"platform": {"os": "windows"},"materials":{"texts":[{"content":"轨道一文本","id":
"28824EDA-D841-4c81-B264-DC268957660B","type":"text"},{"content":"轨道二文本","id":"A4637647-EF07-418c-B2A4-6781EC9B6003",
"type":"text"}]},"tracks":[{"id":"A891C42E-A9F6-41fa-89E4-5DD250F2D7D1","segments":[{"id":"624A1A67-15F8-499b-BDF4-0C949FFB383A",
"material_id":"28824EDA-D841-4c81-B264-DC268957660B","target_timerange":{"duration":3000000,"start":0}}],"type":"text"},
{"id":"45336909-80D9-4320-93C2-1737989C45FC","segments":[{"id":"7729B6F5-8C3D-46ee-A0F4-3D3FC5B82823","material_id":
"A4637647-EF07-418c-B2A4-6781EC9B6003","target_timerange":{"duration":3000000,"start":2652233000}}],"type":"text"}]}</textarea>
              <button type="button" class="btn-custom" onclick="onGenerateClick()">
                生成 SRT 文件
              </button>
              <button type="button" class="btn-custom" title="生成不带时间序列的，纯字幕文本的TXT文件。" onclick="onGenerateTextClick()">
                生成 TXT
              </button>
              <button type="button" class="btn-custom" onclick="onClearClick()">
                清空
              </button>
            </div>
            <h3>输出 SRT 或 TXT</h3>
            <div id="jytosrt">
              <textarea id="texttosrt-temp" class="texttosrt" spellcheck="false">
# 输出结果 </textarea>
            </div>

            <!-- 结束 内容 -->
          </div>
        </div>
        <div class="kratos-hentry kratos-post-inner clearfix">
          <div class="kratos-post-content">
            <!-- 内容 -->
            <h3>使用说明</h3>
            <p>
              以上数据为测试数据！从类似以下的目录中找到工程草稿文件，手动手动手动复制草稿内容过来。
            </p>
            <ul>
              <li>
                Windows 目录：C:\Users\<span style="color: red">Admin</span>\AppData\Local\JianyingPro\User
                Data\Projects\com.lveditor.draft\
              </li>
              <li>
                Android 目录：/data/data/com.lemon.lv/files/newdrafts/
              </li>
              <li>
                MacOS 目录：/Users/<span style="color: red">Admin</span>/Movies/JianyinPro/User
                Data/Projects/com.lveditor.draft/
              </li>
            </ul>
            <p>
              其中
              <span style="color: red">Admin</span>
              为电脑系统的用户名，你安装剪映软件时候的用户名，一般情况就是你当前用户名。如果其中某个目录找不到，请确认开启了显示隐藏文件。
            </p>
            <p>
              同时支持电脑浏览器上<span style="color: red">拖拽</span>文件到文本框读取或通过“<span style="color: red">上传</span>”按钮读取。
            </p>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
</div>
<script type="text/javascript" src="./assets/js/jianying-srt-ho2.min.js"></script>
<script type="text/javascript" src="./assets/js/txt-global-upload.js"></script>