<link rel="stylesheet" href="./assets/css/drag-n-drop.css">
<link rel="stylesheet" href="./bundle/vendors/coloris/coloris.min.css">
<div class="container">
    <div class="alert alert-success" style="display: none; position: fixed; right: 100px; top: 50px; z-index: 2000"
        id="copied-alert">
        <i class="fa-solid fa-circle-check"></i>
        已复制到剪贴板
    </div>
    <div class="row">
        <section id="main" class="col-md-12">
            <article>
                <div class="kratos-hentry kratos-post-inner clearfix">
                    <div class="kratos-post-content">
                        <!-- 开始 内容 -->
                        <h1>PPT 生成器 （测试版）</h1>

                        <h3>1. 背景图 / 颜色 </h3>
                        <p>
                            注：预设背景色为黑色
                        </p>
                        <div>
                            <label class="form-check-label">背景图</label>
                            <div class="drop-zone">
                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                <input type="file" accept="image/*" name="myFile" id="uploadBackgroundImage"
                                    class="drop-zone__input">
                            </div>
                        </div>
                        <div class="mt-2 d-inline-block">
                            <label class="form-check-label d-block" for="colorPickerBackground">背景色</label>
                            <input type="text" id="colorPickerBackground" value="#000000" data-coloris>
                        </div>
                    </div>
                </div>
                <div class="kratos-hentry kratos-post-inner clearfix">
                    <div class="kratos-post-content">
                        <h3>2. 输入中文或主内容</h3>
                        <div>
                            <textarea id="input-text" class="texttosrt"></textarea>
                            <button type="button" title="把以上内容转为简体" class="btn-custom"
                                onclick="onConvertToSimplifiedClick()">
                                ^ 转简体
                            </button>
                            <button type="button" title="把以上内容里的“他”转为“祂”" class="btn-custom"
                                onclick="onConvertCharacterClick('他','祂')">
                                ^ 他 -> 祂
                            </button>
                            <button type="button" title="把以上内容里的“你”转为“祢”" class="btn-custom"
                                onclick="onConvertCharacterClick('你','祢')">
                                ^ 你 -> 祢
                            </button>
                            <button type="button" title="在以下文本框生成拼音(带声调)" class="btn-custom"
                                onclick="onGeneratePinyinClick({hasSound : true})">
                                生成拼音 (带声调)
                            </button>
                            <button type="button" title="在以下文本框生成拼音(不带声调)" class="btn-custom"
                                onclick="onGeneratePinyinClick({hasSound : false})">
                                生成拼音 (不带声调)
                            </button>
                            <button type="button" class="btn-custom" onclick="onClearClick()">
                                清空
                            </button>
                        </div>
                        <p>
                            注：此处的转换会把“祢”字的拼音翻成“ni”
                        </p>


                        <h3>3. 输入拼音或副内容</h3>
                        <div id="outputWrapper">
                            <textarea id="output-temp" class="texttosrt" spellcheck="false"></textarea>
                        </div>
                        <!-- 结束 内容 -->
                    </div>

                </div>
                <div class="kratos-hentry kratos-post-inner clearfix">
                    <div class="kratos-post-content">
                        <!-- 内容 -->
                        <h3>4. 生成</h3>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="chbHasIgnoreSecondaryContent">
                                <label class="form-check-label" for="chbHasIgnoreSecondaryContent">忽略副内容</label>
                            </div>
                        </div>
                        <button type="button" class="btn-custom" onclick="onGeneratePptClick()">
                            生成PPT
                        </button>
                    </div>
                </div>
                <div class="kratos-hentry kratos-post-inner clearfix">
                    <div class="kratos-post-content">
                        <!-- 内容 -->
                        <div>
                            <!-- <a href="#advanced-setting">高级设定</a> -->
                            <h3>5. 设定</h3>
                        </div>
                        <p>coming soon...</p>
                    </div>
                </div>
                <div class="kratos-hentry kratos-post-inner clearfix">
                    <div class="kratos-post-content">
                        <!-- 内容 -->
                        <div>
                            <!-- <a href="#advanced-setting">高级设定</a> -->
                            <h3>6. 高级设定</h3>
                            <p>
                                可以参考
                                <a href="https://gitbrent.github.io/PptxGenJS/docs/api-text/" target="_blank">
                                    https://gitbrent.github.io/PptxGenJS/docs/api-text/
                                </a>
                            </p>
                            <button type="button" class="btn-custom" onclick="onRestoreNormalDefaultOptionClick()">
                                普通预设
                            </button>
                            <button type="button" class="btn-custom" onclick="onRestoreGreenScreenDefaultOptionClick()">
                                绿幕预设
                            </button>
                            <a href="./assets/img/greenscreenWithBlackCover.png" target="_blank">
                                <i class="fa-solid fa-up-right-from-square"></i> 预设绿幕背景图
                            </a>

                        </div>
                        <div class="d-flex justify-content-between">
                            <div style="width:47%">
                                <span>主内容属性</span>
                                <textarea id="txt-advanced-primary-options" class="texttosrt"></textarea>
                            </div>
                            <div style="width:47%">
                                <span>副内容属性</span>
                                <textarea id="txt-advanced-secondary-options" class="texttosrt"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
</div>
<script type="text/javascript" src="./assets/js/drag-n-drop.js"></script>
<!-- <script type="text/javascript" src="./bundle/vendors/sweetalert2/sweetalert2@11.js"></script> -->
<script type="text/javascript" src="./bundle/vendors/pptxgen/pptxgen.bundle.js"></script>
<script type="text/javascript" src="./bundle/vendors/coloris/coloris.min.js"></script>
<script type="text/javascript" src="./assets/js/text-convertor.min.js"></script>
<script type="text/javascript" src="./assets/js/ppt-generator.min.js"></script>